.tasksplease {
    width:20em;
    margin:0px;
    padding:0px;
}
.tasksplease li {
    background-color:#EEE;
    padding:5px 65px 5px 10px;
    margin:5px 0;
    list-style:none outside none;
    position:relative;
}
.tasksplease li:hover {
    background-color:#E2E2E2;
}
.tasksplease .ui-state-highlight {
    background-color:#ecf4ff;
    outline:1px dotted #25962a;
    min-height:1em;
}
.remove {
    background: url("../img/actions-sprite.png") no-repeat scroll -24px 0 transparent;
    height: 21px;
    position: absolute;
    right: 5px;
    width: 24px;
}
/* Hide only visually, but have it available for screenreaders*/
.remove span,
.edit span {
    border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;
}

.edit {
    background: url("../img/actions-sprite.png") no-repeat scroll 0 0 transparent;
    height: 21px;
    position: absolute;
    right: 35px;
    width: 24px;
}
